<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Portfolio</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css" rel="stylesheet' %}">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
  </head>

  <body class="index-page">
    <header id="header" class="header dark-background d-flex flex-column">
      <i class="header-toggle d-xl-none bi bi-list"></i>
      <div class="profile-img">
        <img src="{{ pro.p_img.url }}" alt="" class="img-fluid rounded-circle">     
      </div>
      <a href="#" class="logo d-flex align-items-center justify-content-center">
        <h1 class="sitename">{{ pro.Name }}</h1>
      </a>
      <div class="social-links text-center">
        <a href="{{pro.fcbk}}" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="{{pro.insta}}" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="{{pro.web}}" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <a href="https://wa.me/{{pro.P_num}}"><i class="bi bi-whatsapp"></i></i></a>
      </div>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
          <li><a href="#about"><i class="bi bi-person navicon"></i> About</a></li>
          <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
          <li><a href="#projects"><i class="bi bi-images navicon"></i> Projects</a></li>
          <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <!-- Hero Section -->
      <section id="hero" class="hero section dark-background">
        <img src="{{ img.B_img.url }}" alt="Image" data-aos="fade-in" class="">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <h2>{{ pro.Name }}</h2>
          <p>{{ pro.position }} </p>
        </div>
      </section>
      <!-- /Hero Section -->

      <!-- About Section -->
      <section id="about" class="about section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>About</h2>
          <p>{{pro.about}}</p>
        </div>
        <!-- End Section Title -->
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row gy-4 justify-content-center">
            <div class="col-lg-4">
              <img src="{{ pro.p_img.url }}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 content">
              <h2>{{pro.position}}</h2>         
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>{{pro.Dob}}</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span><a href={{pro.web}}>Linkedin</a></span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>{{pro.P_num}}</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>{{pro.city}}</span></li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>{{pro.degree}}</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{pro.Email}}</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /About Section -->

      <!-- Skills Section -->
      <section id="skills" class="skills section light-background">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Skills</h2>      
        </div>
        <!-- End Section Title -->
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row skills-content skills-animation">
            <div class="col-lg-6">
              {% for i in fskl %}
              <div class="progress">
                <span class="skill"><span>{{i.s_name}}</span> <i class="val">{{i.s_value}}%</i></span>
                <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow={{i.s_value}} aria-valuemin="0" aria-valuemax={{i.s_value}}></div>
                </div>
              </div>
              <!-- End Skills Item -->
              {% endfor %}          
            </div>
            <div class="col-lg-6">
              {% for j in bskl %}
              <div class="progress">
                <span class="skill"><span>{{j.s_name}}</span> <i class="val">{{j.s_value}}</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow={{j.s_value}} aria-valuemin="0" aria-valuemax={{j.s_value}}></div>
                </div>
              </div>
              {% endfor %}           
            </div>
          </div>
        </div>
      </section>
      <!-- /Skills Section -->

      <!-- Resume Section -->
      <section id="resume" class="resume section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Resume</h2>      
        </div>
        <!-- End Section Title -->
        <div class="container">
          <div class="row">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <!-- Edn Resume Item -->
              <h3 class="resume-title">Education</h3>
              {% for i in res %}
              <div class="resume-item">
                <h4>{{i.Course}}</h4>
                <h5>{{i.s_year}} - {{i.e_year}}</h5>
                <p><em>{{i.collegename}}</em></p> 
              </div>
              <!-- Edn Resume Item -->
              {% endfor %}
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <h3 class="resume-title">Professional Experience</h3>           
              <div class="resume-item">
                <h4>{{exp.Company}}</h4>
                <h5>{{exp.cs_year}} - {{exp.ce_year}}</h5>
                <p><em>{{exp.designation}} </em></p>
                <ul>
                  <li>{{exp.discriptions}}</li>
                </ul>
              </div>
              <!-- Edn Resume Item -->           
            </div>
          </div>
        </div>
      </section>
      <!-- /Resume Section -->

      <!-- Portfolio Section -->
      <section id="projects" class="portfolio section light-background">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Projects</h2>       
        </div>
        <!-- End Section Title -->
        <div class="container">
          <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
              {% for i in pgt %}
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                <div class="portfolio-content h-100">
                <h5>{{i.p_name}}</h5>
                <img src="{{i.p_img.url}}" class="img-fluid" alt="">
                <div class="portfolio-info">   
                  <p>{{i.p_dis}}</p>
                </div>
              </div>
            </div>
            <!-- End Portfolio Item -->
              {% endfor %}

              {% for j in vdo %}
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                <div class="portfolio-content h-100">
                <h5>{{j.name}}</h5>
                <video width="300px" height="200px" controls>
                  <source src="{{ j.vdo.url }}" type="video/mp4">
                  Your browser does not support the video tag.
              </video>
              </div>
            </div>
            <!-- End Portfolio Item -->
              {% endfor %}
          </div>
          <!-- End Portfolio Container -->
          </div>
        </div>
    </section>
    <!-- /Portfolio Section -->
    
    <!-- Contact Section -->
    <section id="contact" class="contact section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
      </div>
      <!-- End Section Title -->
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
          <div class="col-lg-5">
            <div class="info-wrap">
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Address</h3>
                  <p>{{pro.city}}</p>
                </div>
              </div>
              <!-- End Info Item -->
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Call Us</h3>
                  <p>{{pro.P_num}}</p>
                </div>
              </div>
              <!-- End Info Item -->
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email Us</h3>
                  <p>{{pro.Email}}</p>
                </div>
              </div>
              <!-- End Info Item -->

              <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
            </div>
          </div>         
        </div>
      </div>
    </section>
    <!-- /Contact Section -->
    </main>
    <footer id="footer" class="footer position-relative light-background"></footer>
    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <!-- Preloader -->
    <div id="preloader"></div>
    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/typed.js/typed.umd.js' %}"></script>
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>